<?xml version="1.0"?>

<robot name="dji_m100" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find drone_description)/urdf/dji_m100.xacro" />
  <xacro:include filename="$(find drone_description)/urdf/gimbal.xacro" />
  <xacro:include filename="$(find drone_description)/urdf/camera.xacro" />

  <!-- namespace indicate gazebo model namespace, see gazebo gui left panel -->
  <!-- robot_namespace is ros namespace -->

  <xacro:camera_macro
    namespace="stereo_camera"
    parent_link="${namespace}/base_link"
    robot_namespace="/stereo"
    camera_name="left"
    image_topic_name="image_raw"
    camera_info_topic_name="camera_info"
    frame_rate="30"
    horizontal_fov="1.48"
    image_width="1280"
    image_height="800"
    image_format="B8G8R8"
    min_distance="0.1"
    max_distance="100"
    noise_mean="0.01"
    noise_stddev="0.007"
    enable_visual="false"
    k1="0"
    k2="0"
    k3="0"
    p1="0"
    p2="0"
    cx="0.5"
    cy="0.5">
    <origin xyz="0 0.5 0" rpy="0 ${pi/2} 0" />
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.008 0.1 0.06"/>
      </geometry>
      <xacro:material_orange/>
    </visual>
    <material>Gazebo/Orange</material>
  </xacro:camera_macro>

  <xacro:camera_macro
    namespace="stereo_camera"
    parent_link="${namespace}/base_link"
    robot_namespace="/stereo"
    camera_name="right"
    image_topic_name="image_raw"
    camera_info_topic_name="camera_info"
    frame_rate="30"
    horizontal_fov="1.48"
    image_width="1280"
    image_height="800"
    image_format="B8G8R8"
    min_distance="0.1"
    max_distance="100"
    noise_mean="0.01"
    noise_stddev="0.007"
    enable_visual="false"
    k1="0"
    k2="0"
    k3="0"
    p1="0"
    p2="0"
    cx="0.5"
    cy="0.5">
    <origin xyz="0 -0.5 0" rpy="0 ${pi/2} 0" />
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.008 0.1 0.06"/>
      </geometry>
      <xacro:material_orange/>
    </visual>
    <material>Gazebo/Orange</material>
  </xacro:camera_macro>

  <link name="${namespace}/box_link">
    <xacro:box_inertial_with_origin
      x="1"
      y="0.5"
      z="0.25"
      mass="2">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:box_inertial_with_origin>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="1 0.5 0.25"/>
      </geometry>
      <xacro:material_blue/>
    </visual>
  </link>

  <joint name="${namespace}/box_joint" type="fixed">
    <parent link="${namespace}/base_link"/>
    <child link="${namespace}/box_link"/>
    <origin xyz="0 0 -0.2" rpy="0 0 0" />
  </joint>

  <gazebo reference="${namespace}/box_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <xacro:if value="$(arg is_kinematic)">
    <gazebo reference="${namespace}/base_link">
      <kinematic>true</kinematic>
    </gazebo>
  </xacro:if>

</robot>
