<?xml version="1.0"?>

<robot name="dji_m100" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find drone_description)/urdf/dji_m100.xacro" />
  <xacro:include filename="$(find drone_description)/urdf/gimbal.xacro" />
  <xacro:include filename="$(find drone_description)/urdf/camera.xacro" />

  <!-- namespace indicate gazebo model namespace, see gazebo gui left panel -->
  <!-- robot_namespace is ros namespace -->
  <xacro:gimbal_macro
    namespace="gimbal_camera" 
    parent_link="${namespace}/base_link"
    offset="0.05">
    <origin xyz="0.0 0.0 -0.02" rpy="0 0 0"/>
  </xacro:gimbal_macro>

  <xacro:camera_macro
    namespace="gimbal_camera"
    parent_link="gimbal_camera/gimbal_link_2"
    robot_namespace="/"
    camera_name="camera"
    image_topic_name="image_raw"
    camera_info_topic_name="camera_info"
    frame_rate="30"
    horizontal_fov="1.48"
    image_width="1280"
    image_height="1024"
    image_format="B8G8R8"
    min_distance="0.72"
    max_distance="100"
    noise_mean="0.01"
    noise_stddev="0.007"
    enable_visual="false"
    k1="0"
    k2="0"
    k3="0"
    p1="0"
    p2="0"
    cx="0.5"
    cy="0.5">
    <origin xyz="0.05 0 0" rpy="${pi/2} ${-pi/2} 0" />
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.008 0.05 0.03"/>
      </geometry>
      <xacro:material_orange/>
    </visual>
    <material>Gazebo/Orange</material>
  </xacro:camera_macro>

  <xacro:if value="$(arg is_kinematic)">
    <gazebo reference="${namespace}/base_link">
      <kinematic>true</kinematic>
    </gazebo>

    <gazebo reference="gimbal_camera/gimbal_link_0">
      <kinematic>true</kinematic>
    </gazebo>

    <gazebo reference="gimbal_camera/gimbal_link_1">
      <kinematic>true</kinematic>
    </gazebo>

    <gazebo reference="gimbal_camera/gimbal_link_2">
      <kinematic>true</kinematic>
    </gazebo>
  </xacro:if>

</robot>
