<launch>

  <arg name="mav_name" default="dji_m100"/>
  <arg name="suffix" default="gimbal_camera"/>
  <arg name="namespace" default="$(arg mav_name)"/>

  <arg name="model" default="$(find drone_description)/urdf/$(arg mav_name)_$(arg suffix).xacro"/>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    namespace:=$(arg namespace)
    is_kinematic:=true
    "/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone_description)/rviz/$(arg mav_name).rviz"/>

</launch>
