<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="sphere_inertial_with_origin" params="radius mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${0.4 * mass * radius * radius}" ixy="0.0" ixz="0.0"
        iyy="${0.4 * mass * radius * radius}" iyz="0.0"
        izz="${0.4 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial_with_origin" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="box_inertial_with_origin" params="x y z mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
        izz="${0.0833333 * mass * (x*x + y*y)}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="material_black">
    <material name="black">
      <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
  </xacro:macro>
  
  <xacro:macro name="material_blue">
    <material name="blue">
      <color rgba="0.0 0.0 0.8 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_green">
    <material name="green">
      <color rgba="0.0 0.8 0.0 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_grey">
    <material name="grey">
      <color rgba="0.2 0.2 0.2 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_orange">
    <material name="orange">
      <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_brown">
    <material name="brown">
      <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_red">
    <material name="red">
      <color rgba="0.8 0.0 0.0 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="material_white">
    <material name="white">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
  </xacro:macro>

</robot>