<launch>
  <arg name="mav_name" default="dji_m100"/>
  <arg name="suffix" default="fpv"/>
  <arg name="world_name" default="jing_zhun_chuan_yue"/>
  <arg name="x" default="0"/>
  <arg name="y" default="-15"/>
  <arg name="z" default="2"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="1.57"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="use_sim_time" default="false"/>
  
  <include file="$(find drone_gazebo)/launch/world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find drone_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find drone_description)/urdf/$(arg mav_name)_$(arg suffix).xacro" />
      <arg name="is_kinematic" value="true"/>
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="R" value="$(arg R)"/>
      <arg name="P" value="$(arg P)"/>
      <arg name="Y" value="$(arg Y)"/>
    </include>
  </group>
  
  <node name="moving_gate" pkg="drone_gazebo" type="moving_gate_node"/>

  <node name="image_view" pkg="image_view" type="image_view" args="image:=/camera/image_raw">
    <param name="autosize" type="bool" value="false"/>
  </node>

</launch>
